

<div class="panel panel-default">
  <div class="panel-heading">
    
    <div class="panel-body">
  <%= simple_form_for @artist do |f| %>
  <%= f.input :name, label: false, placeholder: "Name" %>
  <%= f.input :description, label: false, placeholder: "Description"%>
  <%= f.input :image_url, label: false, placeholder: "Image Url" %>
  <%= f.submit "Submit".html_safe, class: "btn btn-danger btn-large" %>
    <% end %>
    </div>
</div>
</div>
