<h1 style="color:red; font-family: 'Roboto', sans-serif;">Create New Artist</h1>

<%= render 'form' %>

    <!-- <div class="panel panel-default">
      <div class="panel-heading">
        <h1 style="color:red;">Create New Artist</h1>
        <div class="panel-body">
      <%= simple_form_for @artist do |f| %>
      <%= f.input :name, label: false, placeholder: "Name" %>
      <%= f.input :description, label: false, placeholder: "Description"%>
      <%= f.input :image_url, label: false, placeholder: "Image Url" %>
      <%= f.submit "Submit".html_safe, class: "btn btn-danger btn-large" %>
      <% end %>
        </div>
  </div>
</div> -->
