<div class="container">
  <div class="col-xs-12">
  <h1 style="color:red; font-family: 'Roboto', sans-serif;"><%= @artist.name %></h1>
  </div>
<div class="col-md-4">
  <%=image_tag(@artist.image_url,class: 'img-thumbnail img-rounded')   %>

</div>

<div class="col-md-4">
<p>
  <h3 style="font-family: 'Roboto', sans-serif;"><strong>Bio</strong></h3>
  <%= @artist.description %>
</p>
</div>
<div class="col-md-4">
<h3 style="font-family: 'Roboto', sans-serif;"><strong>Songs</strong></h3>
<%= render @artist.songs %>
<h4 style="font-family: 'Roboto', sans-serif;"><strong>Add a Song</strong></h4>
<%= link_to "Add new Song", new_artist_songs_path(@artist, song), class:'btn btn-default btn-large' %>
</div>
</div>
